<!DOCTYPE html>
<html lang="en">
<head>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" href="../static/bootstrap.css"/>
	<script th:src="@{/js/jquery.js}" src="../static/js/jquery.js"></script>
 	<script th:src="@{/js/bootstrap.js}"src="../static/js/bootstrap.js"></script>
    <title>FORM</title>
     
    <style>
	   .btn-primary {
	   	 background-color:#00698e;
	     border: #00698e;
	    }
	   .btn-primary:hover, .btn-primary:focus,.btn-primary:active, .open>
	   .dropdown-toggle.btn-primary{
			
		 background-color:#002541;
	     border: #002541;
		}
		.navbar-brand img{
			width:110px;
			height:50px;
		}
			
	</style>
</head>
<body>
<!--NavBar menu features-->
    <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #00698e;">
      <!--ICON IMAGE PROCESS -->
     <a class="navbar-brand" th:href="@{/listar}"> <img th:src="@{/image/logo.png}" alt="..."></a>
    
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
      </button>
      <!--NavBar options-->
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" th:href="@{/new}" href="#">NEW USER</a>
          <a class="nav-item nav-link"  th:href="@{/listar}" href="#">USER DATA</a>
         </div>
      </div>
    </nav>
    
    <div class="container mt-4">
    	<div class="col-sm-6">
    	<form th:action="@{/save}" th:object=${person} method="POST">
    		<div class="card">
    		<div class="card-header">
    		<h3>NEW USER</h3>
    		</div>
    		<div class="card-body">
    		
    			<div class="form-group">
    				<label>ID</label>
    				<input th:field="*{id}" type="number" class="form-control"/>
    			</div>
    			
    			<div class="form-group">
    				<label>NAME</label>
    				<input th:field="*{name}" type="text" class="form-control"/>
    			</div>
    			
    			<div class="form-group">
    				<label>PHONE NUMBER</label>
    				<input th:field="*{phoneNum}" type="text" class="form-control"/>
    			</div>
    		</div>
    		<div class="card-footer">
    		<input type="submit" value="SAVE" class="btn btn-primary">
    		</div>
    		</div>
    	</form>
    	</div>
    </div>
</body>
</html>