<!DOCTYPE html>
<html lang="en">
<head>
	<link th:href="@{/css/bootstrap.css}" rel="stylesheet" href="../static/bootstrap.css"/>
	<script th:src="@{/js/jquery.js}" src="../static/js/jquery.js"></script>
 	<script th:src="@{/js/bootstrap.js}"src="../static/js/bootstrap.js"></script>
    <title>CRUD USER</title>
</head>
<body>

    <!--New user formulary-->
     <div class="container mt-4">
     <h1>Hello user</h1>
     <a th:href="@{/new}" class="btn btn-primary">NEW USER<a>
    </br>
    </div> 
    </br>
    
    <!--Table to show the mysql data-->
    <div class="container mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>PHONE NUM</th>
                    <th>ACTIONS</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="person:${persons}">
                    <td th:text=${person.id}></td>
                    <td th:text=${person.name}></td>
                    <td th:text=${person.phoneNum}></td>
                    <td>
                    <a th:href="@{/edit/}+${person.id}"class="btn btn-warning">Edit</a>
                    <a th:href="@{/delete/}+${person.id}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>  